<h1>一覧画面</h1>
<div>
  <a href="/memos/new" class="btn">新規作成</a>
</div>
<div class="sub-container">
  <ul>
  <% @memos.each do |memo| %>
    <li class="card">
      <a href="/memos/<%= memo['id'].to_i %>" class="card-link"><%= ERB::Util.html_escape(memo['title']) %></a>
    </li>
  <% end %>
  </ul>
</div>
