<h1>新規作成画面</h1>

<div>
  <form action="/memos" method="post">
    <div class="form-items">
      <div class="form-items__item">
        <label for="title">タイトル</label>
        <input type="text" name="title" id="title">
      </div>
      <div class="form-items__item">
        <label for="content">内容</label>
        <textarea name="content" id="content" rows="5" cols="33"></textarea>
      </div>
      <div class="form-action">
        <input type="submit" value="保存">
      </div>
    </div>
  </form>
  <div class="return-btn">
    <a href="/memos">キャンセル</a>
  </div>
</div>
