header {
  background-color: #00366b;
}

main {
  background-color: #fff2f2;
}

footer {
  background-color: #ececec;
}

.header-container {
  padding: 1rem 4rem;
  color: #ffffff;
}

.main-container {
  padding: 2rem 5rem;
}

.footer-container {
  padding: 1rem 4rem;
  font-size: 0.75rem;
}
